.herob
{
  background:url('../images/he1.jpg') no-repeat;
  width: 1122px;
  height:100%;
  position: relative;
  background-attachment: fixed;
  }

  .herob h2 {
    position:absolute;
     top: 20%;
     left: 60%;
     width: 50%;
     float:left;
  }

  header h1
{
  text-shadow: 2px 2px 6px;
  font-family: 'Shadows Into Light', cursive;
  float: left;
}
 .image{
   position: relative;
   top: 80px;
   width: 100%;
   height: 100%;
}
.image1,.imager img  {
   position: relative;
   width:100%; height:100%;

}
.primary section h2{
  position: absolute;
    text-align: center;
}
.hero h2 {
  position:relative;
   top: -350px;
   width: 40%;
   float:right;
}


.para a{
  font-style: normal;
}
.para{
  font-size: 18px;
  text-align:center;
  font-family: 'Shadows Into Light', cursive;
}
p{
  text-align: justify;
  font-family: 'Katibeh', cursive;
  font-size: 20px;
}
h2 span{
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1PX;
   /*background: rgb(0, 0, 0);*/
   background: rgba(0, 0, 0, 0.2);
   padding: 10px;
}
.para3{
  float: right;
  font-size: 24px;

}
body
{
  background-color: #87bdd8;
}
.para p
{
  margin-right: 25px;
}
header
{
  position:fixed;
  margin-top:-20px;
  top: 15px;
  background-color:#87bdd8;
  padding-left: 150px;
  margin: auto;
  z-index:9999;
  width: 1500px;
  left: -250px;
  top: -10px;
  margin-left: 250px;

}


.primary,.sect
{
  margin-top: 190px;
  height: 50%;
}

nav ul{
  margin-top: 35px;
}
nav li
{
  display: inline;
  text-decoration:none;
  margin-top: 12px;
  margin-right: 3px;
  padding: 4px;
}
li a:hover
{
  color: #784;
}

.ref a {
    float: right;
}
.ref a, .para a,section a {
    text-decoration: none;
    text-align: center;
}

nav li a,.frm li{
  text-decoration:none;
  font-size: 18px;
}

.primary section
{

  background: #5b9aa0;
  height: 70%;
}

.footer{
  border: 1px solid white;
  margin-top: 180px;
  background: white;
  height: 8%;
}
.footer1{
  border: 1px solid white;
  margin-top: 50px;
  background: white;
  height: 8%;
}
.footer2{
  border: 1px solid white;
  margin-top: 30px;
  background: white;
  height: 8%;
}
.footer ul li, .footer1 ul li,.footer2 ul li
{
  display: inline;
  text-decoration:none;
  margin: auto;
}
li a, p a{
      text-decoration:none;
}
.para a:hover
{
  color: red;
}

li a:hover,.ref a:hover
{
  color: #784;

}
.f1
{
  float: right;
  margin-right: -180px;
}
.foot li a,{
  font-size: 14px;
  font-family: sans-serif;
  color: grey;
}
.foot li:after
{
  content: '/ ';
  padding: 0 2px;
  color: black;
}

.footer li:last-child:after,.footer1 li:last-child:after,.footer2 li:last-child:after
{
  content: none;
}
p a
{
  float: right;
}
p a:after
{
  content: ')'
}

p a:before
{
  content: '('
}

/* page 2*/
.hero1 h2 {
  position:relative;
   top: -500px;
   left: -75px;
   width: 40%;
   float:right;
}

.hero1 h3 {
  position:relative;
   top: -500px;
   left: -250px;
   width: 40%;
   float:right;
}

.f1 img{
  width: 32px;
  height: 32;
}

.sect1{
  margin-top:80px;
  height: 50%;
}
.sect2{
  margin-top: 310px;
  height: 50%;
}

blockquote{
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1PX;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.imager img, .image1{
transition: all 0.5s ease;
box-shadow: 5px 5px 5px #111;
}

.imager img:hover{
  border: 0px solid #000;
   border-radius: 50%;
}
