header h1
{
  text-shadow: 2px 2px 6px;
  font-family: 'Shadows Into Light', cursive;
  float: left;
}
 .image {
   position: relative;
   top: 80px;
   width: 100%;
}
.image1 {
   position: relative;
}
.primary section h2{
  position: absolute;
}
.hero h2 {
  position:relative;
   top: -300px;
   width: 40%;
   float:right;
}

.primary section h2{
  text-align: center;
}

.para a{
  font-style: normal;
}
.para{
  font-size: 18px;
  text-align:center;
  font-family: 'Shadows Into Light', cursive;
}
p{
  text-align: justify;
  font-family: 'Katibeh', cursive;
  font-size: 20px;
}
h2 span{
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1PX;
   /*background: rgb(0, 0, 0);*/
   background: rgba(0, 0, 0, 0.2);
   padding: 10px;
}

body
{
  background-color: #87bdd8;
}
.para p
{
  margin-right: 25px;
}
header
{
  position:fixed;
  margin-top:-20px;
  top: 15px;
  background-color:#87bdd8;
  padding-left: 150px;
  margin: auto;
  z-index:9999;
  width: 1500px;
  left: -250px;
  top: -10px;
  margin-left: 250px;

}


.primary,.sect
{
  margin-top: 150px;
  height: 50%;
}

nav li
{
  display: inline;
  text-decoration:none;
  margin-top: 12px;
  margin-right: 3px;
  padding: 2px;
}
li a:hover
{
  color: #784;
}

.ref a {
    float: right;
}
.ref a, .para a {
    text-decoration: none;
    text-align: center;
}

nav li a
{
  text-decoration:none;
  font-size: 18px;
}

aside
{
  background: green;
}

.primary section
{

  background: #5b9aa0;
  height: 70%;
}

.footer{
  border: 1px solid white;
  margin-top: 180px;
  background: white;
  height: 8%;
}
.footer ul li
{
  display: inline;
  text-decoration:none;
  margin: auto;
}
li a{
      text-decoration:none;
}
.para a:hover
{
  color: red;
}

li a:hover,.ref a:hover
{
  color: #784;

}
.f1
{
  float: right;
  margin-right: -180px;
}
.foot li:after
{
  content: '/ ';
  padding: 0 2px;
  color: black;
}

.footer li:last-child:after
{
  content: none;
}
