header h1
{
  text-shadow: 2px 2px 6px;
  margin-left:15px;
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  float: left;
}
 .image {
   position: relative;
   top: 80px;
   width: 100%;
}

.primary section h2{
  position: absolute;
}
.hero h2 {
  position:relative;
   top: -500px;
   left: -75px;
   width: 40%;
   float:right;
}

.primary section h2{
  text-align: center;
}
.para{
  font-size: 20px;
  text-align:center;
  text-transform: uppercase;
  font-family: 'Shadows Into Light', cursive;
}
p{
  text-align: justify;
}
h2 span{
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1PX;
   /*background: rgb(0, 0, 0);*/
   background: rgba(0, 0, 0, 0.2);
   padding: 10px;
}

body
{
  background-color: #87bdd8;
}

header
{
  position:fixed;
  margin-top:-10px;
  top: 0px;
  background-color:#87bdd8;
 margin: auto;
  z-index:9999;
}

.sect1{
  margin-top:80px;
  height: 50%;
}
.sect{
  margin-top: 240px;
  height: 50%;
}
.primary
{
  margin-top: 150px;
  height: 50%;
}

nav ul
{
  float: right;
}
nav li
{
  display: inline;
  text-decoration:none;
  margin-top: 12px;
  margin-right: 6px;
  padding: 2px;
}

.ref, .para a {
    text-decoration: none;
    text-align: center;
}

nav li a
{
  text-decoration:none;
  font-size: 18px;
}


.primary section
{

  background:;
  height: 70%;
}
.footer{
  border: 1px solid white;
  margin-top: 50px;
  background: white;
}
.footer ul li
{
  display: inline;
  text-decoration:none;
  margin: auto;
}
li a{
      text-decoration:none;
}
li a:hover
{
  color: #784;

}
.foot li:after
{
  content: '\\';
  padding: 0 2px;
  color: black;
}

.footer li:last-child:after
{
  content: none;
}
.cont
{
  float: right;
}
.cont:after
{
  content: ')'
}

.cont:before
{
  content: '('
}
