.wrap
{
  width:800px;
  height:1000px;
  background:#e3e3e3;
  margin:auto;
  position: relative;
}

.box
{
  width : 400px;
  height:400px;
  margin:auto;
  background:cyan;
  position:absolute;
  left:20px; top:30px;
}
